In [7]:
import pandas as pd
import os

# Files to load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

#if indirect path use os.path.join("Resources/schools_complete.csv")

# Store the school data file in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)
#View the first five rows of the DataFrame
school_data_df.head()
#use df.tail() to view the last 5 rows of the DataFrame

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500